.container-fuild{
    width: 100%;
   
    
}
.wave{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 360px;
    height: 100vh;
    background-image: url(../wave.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 10px;
}
input{
    width: 313px;
    height: 45px;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 0px 14px;
}
.sun-img{
    background-repeat: no-repeat;
    width: 74px;
    height: 69px;
    border-radius: 5px;
}
.city{
    margin-top: 30px;
}
.Data{
    margin-top: 20px;
    color: red;
}
.tem{
    margin-top: 30px;
    text-align: center
}
.tem-f{
    margin-top: 20px;
    width: 313px;
    text-align: center;
    border: 2px solid gray;
}
.pressure{
    width: 313px;
    text-align: center;
    margin-top: 4px;
    border: 2px solid gray;
}
.humidity{
    /* margin-bottom: 30px; */
    margin-top: 4px;
    width: 313px;
    text-align: center;
    border: 2px solid gray;

}
p{
    padding-top: 11px;
    font-weight: 500;
}
.temp{
    font-size: 60px;
    text-shadow: 2px 4px 14px #262626;
}
@media (max-width:600px){
    .container-fuild{
        width: 100%;
        /* background-image: url(../wave.jpg); */
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    input{
        margin-top: 30px;
    }
    .card{
        width: 570px;
        border-radius: 0px;
        margin-top: 0px !important;
    }
    .humidity{
        margin-bottom: 100px;
    }
}
