.green{
    color: green;
}
.red{
    color: red;
}
.container-fluid{
   display: flex;
   text-align: center;
   justify-content: center;
}
@media (max-width:600px){
    nav{
        display: none;
    }
}